
var timesTable = [
  ['08:30','09:15'],
  ['09:20','10:05'],
  ['10:20','11:05'],
  ['11:10','11:55'],
  ['14:30','15:15'],
  ['15:20','16:05'],
  ['16:20','17:05'],
  ['17:10','17:55'],
  ['19:30','20:15'],
  ['20:20','21:05'],
  ['21:10','21:55'],
  ['22:00','22:45'],
];
var getTimesTable = function(row,col){
  // console.log(row,col);
  return timesTable[row][col]
}
module.exports = {
  getTimesTable:getTimesTable
};